/* Stylowanie tabeli */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Stylowanie nagłówka h3 */
h3 {
  text-align: center;
  margin-top: 20px;
}

/* Stylowanie linków */
a {
  text-decoration: none;
  color: #0066cc;
  display: inline-block;
  margin: 5px 0;
}

a:hover {
  text-decoration: underline;
}

/* Dodatkowe style dla linków "Edytuj" i "Usuń" */
.edit-link {
  color: #6cb86c;
}

.delete-link {
  color: #cc0000;
}

/* Dodatkowy styl dla linku "Dodaj nowego administratora" */
.add-link {
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  color: #0066cc;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

.add-link:hover {
  background-color: #e0e0e0;
}

/* Dodatkowy styl dla linku "Powrót na stronę główną" */
.home-link {
  display: block;
  text-align: center;
  color: #0066cc;
  font-weight: bold;
  margin-top: 20px;
}

.home-link:hover {
  text-decoration: underline;
}

/* Stylowanie dla kontenera obrazka */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Stylowanie dla obrazka */
.image-container img {
  max-width: 200px;
  opacity: 0.7;
}


/* Stylowanie dla formularza */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Stylowanie dla etykiet formularza */
form label {
  display: block;
  margin-bottom: 5px;
}

/* Stylowanie dla pól formularza */
form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Stylowanie dla przycisku formularza */
form input[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Stylowanie dla grupy formularza */
.form-group {
  margin-bottom: 20px;
}

/* Stylowanie dla pól formularza */
.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Stylowanie dla przycisku formularza */
.form-btn {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #0052a3;
}

/* Stylowanie dla centrowania tekstu */
.center-text {
  text-align: center;
  margin-bottom: 20px;
}


